.customCard:hover{
    transform: scale(1.02);
    transition: all 0.25s ease;
}

.customGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.5em;
    column-gap: 2em;
}

.customGrid >*:hover{
    transform: scale(1.02);
    transition: all 0.25s ease;
}